# Inspect script output

In [2]:
import pandas as pd

In [4]:
! pwd

/Users/sarakallis/Documents/PRIO Local/views_pipeline/models/electric_relaxation/notebooks

In [5]:
data_directory = "/Users/sarakallis/Documents/PRIO Local/views_pipeline/models/electric_relaxation/data/generated"

## Calibration predictions

In [8]:
calib_predictions = pd.read_parquet(f"{data_directory}/calib_predictions.parquet")
calib_predictions.head()

                     ged_sb_dep  ged_sb_dummy_t0  ged_os_dummy_t0  \
month_id country_id
409      1                  0.0              0.0              0.0
         2                  0.0              0.0              0.0
         3                  0.0              0.0              0.0
         4                  0.0              0.0              0.0
         5                  0.0              0.0              0.0

                     ged_ns_dummy_t0  ged_sb_dummy_t1  ged_sb_dummy_t2  \
month_id country_id
409      1                       0.0              0.0              0.0
         2                       0.0              0.0              0.0
         3                       0.0              0.0              0.0
         4                       0.0              0.0              0.0
         5                       0.0              0.0              0.0

                     ged_sb_dummy_t3  _ged_sb_dummy_t3  ged_sb_dummy_t4  \
month_id country_id
409      1                       0.0               0.0              0.0
         2                       0.0               0.0              0.0
         3                       0.0               0.0              0.0
         4                       0.0               0.0              0.0
         5                       0.0               0.0              0.0

                     ged_sb_dummy_t5  ...  step_pred_33  step_pred_34  \
month_id country_id                   ...
409      1                       0.0  ...           0.0           0.0
         2                       0.0  ...           0.0           0.0
         3                       0.0  ...           0.0           0.0
         4                       0.0  ...           0.0           0.0
         5                       0.0  ...           0.0           0.0

                     step_pred_35  step_pred_36  step_pred_4  step_pred_5  \
month_id country_id
409      1                    0.0           0.0          0.0          0.0
         2                    0.0           0.0          0.0          0.0
         3                    0.0           0.0          0.0          0.0
         4                    0.0           0.0          0.0          0.0
         5                    0.0           0.0          0.0          0.0

                     step_pred_6  step_pred_7  step_pred_8  step_pred_9
month_id country_id
409      1                   0.0          0.0          0.0          0.0
         2                   0.0          0.0          0.0          0.0
         3                   0.0          0.0          0.0          0.0
         4                   0.0          0.0          0.0          0.0
         5                   0.0          0.0          0.0          0.0

[5 rows x 80 columns]

In [9]:
calib_predictions.describe()

,ged_sb_dep,ged_sb_dummy_t0,ged_os_dummy_t0,ged_ns_dummy_t0,ged_sb_dummy_t1,ged_sb_dummy_t2,ged_sb_dummy_t3,_ged_sb_dummy_t3,ged_sb_dummy_t4,ged_sb_dummy_t5,...,step_pred_33,step_pred_34,step_pred_35,step_pred_36,step_pred_4,step_pred_5,step_pred_6,step_pred_7,step_pred_8,step_pred_9
count,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,...,9168.0,9168.0,9168.0,9168.0,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000,9168.000000
mean,0.075153,0.075153,0.033050,0.036322,0.075044,0.074607,0.075044,0.075044,0.073953,0.073844,...,inf,inf,inf,inf,0.075143,0.075019,0.074955,0.074634,0.074712,0.074912
std,0.263652,0.263652,0.178776,0.187100,0.263476,0.262771,0.263476,0.263476,0.261708,0.261531,...,NaN,NaN,NaN,NaN,0.240009,0.239584,0.239502,0.238943,0.239064,0.238478
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,inf,inf,inf,inf,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Future predictions

In [10]:
future_predictions = pd.read_parquet(f"{data_directory}/future_predictions.parquet")

In [11]:
future_predictions.head()

feature              step_combined
month_id country_id
530      1                     0.0
         2                     0.0
         3                     0.0
         4                     0.0
         5                     0.0

In [12]:
future_predictions.describe()

feature  step_combined
count      6876.000000
mean          0.077080
std           0.266737
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000